/* *************** .common ******************* */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* html, body {font-family: 'Open Sans' font-size: 15px; height: 10000px;}
작업전 화면 넓게 보이게 하는거 */

.wrapper {max-width: 800px; margin: 0 auto; padding: 80px 16px;}
h2.title {sans-serif; text-align: center; letter-spacing: 5px; margin-bottom: 24px;}
/* letter-spacing는 자간 */
h3.title {sans-serif; text-align: center; color: #aaa; font-style: italic; margin-bottom: 18px; font-size: 14.5px}
p.content {sans-serif; color: #222; text-align: justify; line-height: 2;}
/* line-height: 줄간격 */
/* text-align: justify는 문단 좌우 정렬 */

.bt-black {background-color: black; color: white; padding: 10px 14px; display: inline-block; cursor: pointer; border: none;}
/* cursor: pointer 커서 모양 손가락으로 바꾸기 */
.bt-black:hover {background-color: #bbb; color: black;}


/* *************** .header-wrapper ******************* */
.header-wrapper {background-color: #000; color: #fff; position: fixed; z-index: 99; width: 100%; box-shadow: 0 0 10px rgba(0, 0, 0, .4); display: flex;}
/* box-shadow: 박스의 그림자 / x축, y축, 블러 순 */
/* rgba(0, 0, 0, .2) -> 레드 그린 블루 투명도 순 */
.header-wrapper .navi-wrap {display: flex; }
.header-wrapper .navi-wrap .navi {padding: 12px 24px;}
.header-wrapper .navi-wrap .navi:hover {color: #000; background-color: #ddd;}
.header-wrapper .search-wrap {padding: 12px 16px;}
.header-wrapper .search-wrap:hover {background-color: #f30;}

.header-wrapper .navi-more {position: relative;}
.header-wrapper .navi-more .sub-wrap {background-color: #fff; position: absolute; box-shadow: 0 0 10px rgba(0, 0, 0, 5); top: 45px; left: 0; display: none;}
.header-wrapper .navi-more:hover .sub-wrap {display: block;}
.header-wrapper .navi-more .sub-wrap a {display: block; padding: 12px 48px 12px 16px; color: #000;}
.header-wrapper .navi-more .sub-wrap a:hover {background-color: #ddd;}


/* *************** .main-wrapper ******************* */
.main-wrapper {position: relative;}
.main-wrapper .slogan-wrap {position: absolute; color: white; width: 100%; bottom: 30px; text-align: center;}
.main-wrapper .slogan-wrap .name {margin-bottom: 20px;}



/* *************** .band-wrapper ******************* */
.band-wrapper .member-wrap {display: flex;}
.band-wrapper .member-wrap .member {width: 33.33333%; padding: 5%;}
.band-wrapper .member .name {text-align: center; margin-bottom: 16px;}
.band-wrapper .member .img-wrap {border-radius: 5px; overflow: hidden;}
/*  overflow: hidden : 넘치는 영역은 숨겨라(이미지에 직접 넣든 오버플로우를 만들던 자유 */

/* .band-wrapper .member .img-wrap img {border-radius: 5px;} */
/* border-radius 사진 둥글게 하는거, 반지름 5px짜리 원의 곡률값 */


/* *************** .tour-wrapper ******************* */
.tour-wrapper {background-color: #000;}
.tour-wrapper h2.title {color: #fff; margin-bottom: 30px;}
.tour-wrapper h3.title {color: #fff; margin-bottom: 50px;}
.tour-wrapper .tour-wrap {color: #777; background-color: white; border: 1px solid gray; margin-bottom: 36px;}

.tour-wrapper .sold-out {color: #fff; background-color: red; padding: 3px 6px; margin-left: 8px;}

.tour-wrapper .tour {display: flex; padding: 12px 16px;}
.tour-wrapper .tour .has-count {justify-items: space-between;}




.tour-wrapper .tour:not(:last-child) {border-bottom: 1px solid gray;}
/* tour:not(:last-child 리스트가 몇개가 되든 항상 마지막놈은 제외 */
/* .tour-wrapper .tour {padding: 12px 16px; border-bottom: 1px solid gray;}
.tour-wrapper .tour:last-child {border: none;} */
/* last-child 마지막 놈 */

.tour-wrapper .count-3 {background-color: black; color: white; padding: 2px 8px; border-radius: 50%; margin-left: auto;}


.tour-wrapper .wrapper {overflow: hidden;}
.tour-wrapper .city-wrap {display: flex; width: 101.3333%;}
.tour-wrapper .city {width: 32%; margin-right: 1.3333%;}


.tour-wrapper .city .img-wp img:hover {opacity: 0.7;}
/* .tour-wrapper .city .img-wp:hover {opacity: 0.7} */
/* opacity: 0.7 투명도 */
.tour-wrapper .city .cotent-wp {background-color: white; padding: 16px;}
.tour-wrapper .city .cotent-wp .title {font-weight: bold; margin-bottom: 16px;}
.tour-wrapper .city .cotent-wp .datetime {color: gray; margin-bottom: 16px;}
.tour-wrapper .city .cotent-wp .content {font-size: 16px; line-height: 1.35; margin-bottom: 16px;}



/* *************** .contact-wrapper ******************* */

/* .contact-wrapper h3.title {margin-bottom: 48px;} */

.contact-wrapper .contact-wrap {display: flex;}
.contact-wrapper h3.title {margin-bottom: 48px;}
.contact-wrapper .wrapper {margin-bottom: 48px;}
.contact-wrapper .info-wp {width: 50%; font-size: 18px;}
.contact-wrapper .form-wp {width: 50%; display: flex; flex-wrap: wrap;}
.contact-wrapper .info-wp > div {margin-bottom: 12px;}
.contact-wrapper .info-wp > div > i {width: 30px;}
.contact-wrapper .form-wp {width: 50%;}
.contact-wrapper .form-wp .input {width: 49%; padding: 12px; margin-bottom: 12px;}

.contact-wrapper .form-wp input[name="name"] {width: 49%;}
.contact-wrapper .form-wp input[name="email"] {width: 49%; margin-left: auto;}
.contact-wrapper .form-wp input[name="msg"] {width: 100%;}
/* 
.contact-wrapper .form-wp .input:first-child {border: 5px solid red;}
.contact-wrapper .form-wp .input:nth-child(2) {border: 5px solid blue;}
.contact-wrapper .form-wp .input:nth-child(3) {border: 5px solid purple;}
*/

.contact-wrapper .form-wp .bt-submit {margin-left: auto;}
.contact-wrapper .map-wrap {filter: grayscale(50%);}


/* *************** .footer-wrapper ******************* */
.footer-wrapper {text-align: center; color: #555;}
.footer-wrapper .sns-wrap {font-size: 20px; margin-bottom: 24px;}
.footer-wrapper .sns-wrap .fab:hover {opacity: .5;}
/* opacity 투명도 */