/********************** global init *********************/


/**********************  *********************/
.wrapper {height: 100vh; display: flex; justify-content: center; align-items: center;}
.weather-wrap {text-align: center;}
.weather-wrap .city {font-size: 2em; margin-bottom: .75em;}
.weather-wrap .img-wp {max-width: 60px; margin: auto; margin-bottom: 1.5em;}
.weather-wrap .temp-wp {font-size: 1.5em; margin-bottom: 1em;}
.weather-wrap .desc-wp {font-size: 1.25em;}
.weather-wrap .desc-wp span:last-child {font-size: .875em;}


/********************** 반응형 *********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  
}