body, html {height: 1000000px;}

.wrapper {max-width: 1200px; margin: 20px auto; padding: 100px 0; background-color: rgb(187, 187, 187);}
.wrapper .imgs {border: 1px solid red;}

.wrapper1 .img-wrap {width: 101%; margin-left: -.5%;}
.wrapper1 .img-wrap img {width: 24%; float: left; margin: .5%;}


.wrapper2 .img-wrap {display: flex; justify-content: space-between; align-items: center}
.wrapper2 .img-wrap .imgs {width: 20%;}


.wrapper3 .text-wrap {display: flex; justify-content: space-evenly;}


.wrapper4 .img-wrap {height: 1000px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.wrapper4 .img-wrap .imgs {width: 20%;}
.wrapper4 .img-wrap .imgs:nth-child(2) {align-self: flex-start;}
.wrapper4 .img-wrap .imgs:nth-child(3) {align-self: flex-end;}


.wrapper5 {padding: 0; height: 800px;}
.wrapper5 .img-wrap {display: flex; flex-wrap: wrap; }
.wrapper5 .img-wrap .imgs {width: 14.2857%;}


.wrapper6 {padding: 0; height: 400px; display: flex;}
.wrapper6 .box {height: 100%; border: 1px solid red; font-size: 20px; display: flex; align-items: center; justify-content: center; transition: all 1s; flex-grow: 1;}
.wrapper6 .box:hover {flex-grow: 3;}
.wrapper6 .box1 {order: 3;}
.wrapper6 .box2 {order: 1;}
.wrapper6 .box3 {order: 2;}
.wrapper6 .box4 {order: 4;}
.wrapper6 .box5 {order: -1;}


.wrapper7 {padding: 0; height: 400px; display: flex; flex-wrap: wrap;}
.wrapper7 .box {border: 1px solid red; font-size: 24px; width: 50%; flex-shrink: 0; flex-grow: 1;}
/* width: 50%; flex-shrink: 0; flex-grow: 1; ===== flex: 1 0 50% */
/* flex-grow: 0 기본값이 0 */
/* flex-shrink: 1 기본값이 1 */